<%= form_for @house do |f| %> <!-- helper is in the controller as strong params -->
<div class="form">
  <p>
<%= f.label :name %>
<%= f.text_field :name, :autofocus => true %> <!-- auto focus onto the first field for text input once page is loaded -->
</p>
<p>
<%= f.label :lord %>
<%= f.text_field :lord %>
</p>
<p>
<%= f.label :heir %>
<%= f.text_field :heir %>
</p>
<p>
<%= f.label :words %>
<%= f.text_field :words %>
</p>
<p>
<%= f.label :image, 'Upload Image URL' %>
<%= f.url_field :image %>
</p>
</div>
<div class="button">
<%= f.submit %> <!-- creates submit button for the form field created above -->
</div>
<% end %>
