<%= form_for @region do |f| %> <!-- helper is in the controller as strong params -->
<div class="form">
  <p>
<%= f.label :name %>
<%= f.text_field :name, :autofocus => true %> <!-- auto focus onto the first field for text input once page is loaded -->
</p>
<p>
<%= f.label :culture %>
<%= f.text_field :culture %>
</p>
<p>
<%= f.label :religion %>
<%= f.text_field :religion %>
</p>
<p>
<%= f.label :capital %>
<%= f.text_field :capital %>
</p>
<p>
<%= f.label :image, 'Upload Image URL' %>
<%= f.url_field :image %>
</p>
</div>
<div class="button">
<%= f.submit %> <!-- creates submit button for the form field created above -->
</div>
<% end %>
