<!DOCTYPE html>
<html>
  <head>
    <title>Longstrider</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="login">
      <nav>
      <% if @current_user.present? %> <!-- if user is logged in, has the option to logout -->
        <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete' %> <!-- delete request to sign out user -->
        <% else %> <!-- if user is logged out, has the option to login or sign in -->
      <%= link_to 'Sign Up', new_user_path %>  <!-- sign up link -->
      <%= link_to 'Sign In', login_path %> <!-- sign in link -->
      <% end %>
    </nav>
  </div>
    <div class="container">
    <nav>
      <%= link_to 'Home', root_path %> <!-- home link to go to home page -->
      |
      <%= link_to 'All Cities', cities_path %>
      <% if @current_user.present? %>
      <%= link_to 'New City', new_city_path %>
      <% end %>
      |
      <%= link_to 'All Houses', houses_path %>
      <% if @current_user.present? %>
      <%= link_to 'New House', new_house_path %>
      <% end %>
      |
      <%= link_to 'All Regions', regions_path %>
      <% if @current_user.present? %>
      <%= link_to 'New Region', new_region_path %>
      <% end %>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
